## Training dir
ckpt/
log/
testImages/
saved_model/PaintsTensorFlowDraftModel/
saved_model/PaintsTensorFlowModel/



## model
*.h5
*.data-*
/assets
/variables
*.pb

chekpoint
*.meta


## etc
/__pycache__
/venv*
/.idea