## Training dir
ckpt/
log/
testImages/

## model
*.h5
*.data-*
saved_model/PaintsTensorFlowDraftModel/
saved_model/PaintsTensorFlowModel/
GUI/src/saved_model/PaintsTensorFlowDraftModel/
GUI/src/saved_model/PaintsTensorFlowModel/
GUI/src/saved_model/Liner/


chekpoint
*.meta

## etc
/__pycache__
/venv*
/.idea
/GUI/model/
