## Training dir
ckpt/
log/
testImages/




## model
*.h5
*.data-*
saved_model/PaintsTensorFlowDraftModel/
saved_model/PaintsTensorFlowModel/
GUI/model/PaintsTensorFlow/PaintsTensorFlowDraftModel/
GUI/model/PaintsTensorFlow/PaintsTensorFlowModel/

chekpoint
*.meta


## etc
/__pycache__
/venv*
/.idea